<% stylesheet('/pushbullet2/www/less/pushbullet2.css'); %>

<%
devices =  JSON.parse(fs.readFileSync('plugins/pushbullet2/www/bin/devices.json','utf8'));
%>
<script>
/* On récupère en JS la config */
    devices = <%-JSON.stringify(devices)%>;
</script>

<form id="monForm" action="http://127.0.0.1:8080/sarah/pushbullet2?" method=post>
  <div class="formulaire">
    <div class="id">
      <label for="id">Id :</label><br/>
        <select name="id" id="id">
           <option value="" selected>All</option>
          <% for(var i=1; i < devices.devices.length; i++) { if (devices.devices[i].nickname != null){%>
  
   <option value="<%=devices.devices[i].nickname%>"><%=devices.devices[i].nickname%></option>
<% }} %>
        </select>
    </div>

    <div class="bloc">
      <label for="title">En tete :</label><br/>
      <input type="text" name="title" id="title" placeholder="Titre" size="20" />

    <br />
      <label for="body">Message :</label><br/>
      <input type="text" name="body" id="body" placeholder="Message" size="20" />
    </div>
  </div>

  <input type="submit" class="bouton" value="Envoyer" onClick="Javascript:window.open('http://127.0.0.1:8080/portal');">
</form> 
